/*  */
/* Components */
/*  */

/* Navbar */
.Navbar {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  padding: 0.2rem 1rem;
  font-size: 2rem;
}
.Navbar .logo a {
  color: white;
}
.hamenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.hamenu span {
  font-size: 2rem;
  line-height: 0.7rem;
}
.hamBg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.navClose {
  position: absolute;
  height: 0;
  width: 0;
  z-index: -1;
  left: 0;
  display: none;
  transition: all ease-in-out 0.25s;
}
.hamnavOpen {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100vh;
  width: 40vw;
  background-color: #2c3336;
}
.navOpen .hamBg {
  z-index: 2;
}
.hamnav .topSection {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
}
.hamnav .topSection li {
  width: 50%;
}
.hamnav .topSection li a {
  cursor: pointer;
}
.hamnav .topSection li:first-child {
  font-size: 1.4rem;
  text-align: start;
}
.hamSearch {
  padding: 1rem 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.hamSearch input {
  border: 1px solid grey;
  width: 90%;
  height: 40px;
}
.hamSearch label {
  position: absolute;
  right: 50px;
  height: 40px;
}
.hamCats {
  padding: 1rem;
  border-bottom: 1px solid grey;
}
.hamCats ul {
  padding: 0.5rem 0;
}
.hamSubCats {
  height: 0;
  display: none;
  transition: all ease-in-out 0.25s;
}
.hamSubCats li {
  width: 100%;
  font-size: 1.5rem;
  text-align: start;
  padding: 0.5rem 1rem;
}
.hamCat {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.hamCat label {
  cursor: pointer;
}
.hamCat .menos {
  display: none;
}
.hamCat .hidePlus {
  display: none;
}
.hamCat .showMenos {
  display: inline-block;
}
.colOpen,
.mensOpen,
.womensOpen {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/*  */
/* Pages */
/*  */

/* Home */
.Home {
  display: flex;
  flex-direction: column;
}
img {
  object-fit: cover;
  width: 100%;
}
.landingImage {
  background-image: url(/src/assets/mainBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  text-align: start;
}
.landingImage div {
  padding: 0 0 1rem 1rem;
  color: beige;
  font-size: 2rem;
}
.landingImage div a {
  color: #96351e;
  font-size: 1.5rem;
}
.secondaryImage {
  width: 97vw;
  object-fit: cover;
}
.emailListing {
  padding: 2rem 0;
}
.emailListing form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.emailListing form div {
  display: flex;
  justify-content: start;
  padding: 2rem 0 0.5rem 0;
  font-size: 1.2rem;
}
.emailListing span {
  font-size: 1.2rem;
}
.emailListing input {
  padding: 1rem;
  margin: 0 1rem;
}
.emailListing h4 {
  font-size: 2rem;
  margin: 1rem;
}
.emailListing button {
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}
.storeTour {
  position: relative;
  display: flex;
  padding: 1rem 0;
  font-size: 2rem;
  height: 430px;
}
.storeTour video {
  width: 100vw;
  object-fit: contain;
  position: absolute;
  z-index: -1;
  left: 0;
}
.storeTour .textContent {
  color: beige;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 100%;
  padding: 1rem;
  position: relative;
  bottom: 0;
  text-align: start;
}
.storeTour .textContent a {
  color: #96351e;
  font-size: 1.5rem;
}
.collectionShowcase {
  background-image: url(src/assets/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg);
  width: 98vw;
  height: 480px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 480px;
  position: relative;
  bottom: 0;
}
.storePanel {
}
.storePanel ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 1rem;
  margin: 1rem 0;
}
.storePanel li {
  width: 95%;
  text-align: start;
  padding-bottom: 2rem;
  cursor: pointer;
}
